<p id="notice"><%= notice %></p>

<h1>Elastic search for products</h1>

<%= form_with url: shops_path, method: :get do |form| %>
  <%= form.text_field :query %>
  <%= form.submit 'Search' %>
<% end %>


<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Unit price</th>
      <th>Released on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.unit_price %></td>
        <td><%= product.released_date %></td>
        <td><%= link_to 'Show', shop_path(product) %></td>
        <%= form_with model: @order_item,url: order_items_path, local: false do |form| %>
        <%= form.hidden_field :product_id, value: product.id %>
        <td><%= form.number_field :quantity %></td>
        <td><%= form.submit "Update Cart" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="card-link"><%= link_to "Your Cart has #{current_order.order_items.size}", card_path %></div>
<div id="new_article"></div>
<%= paginate @products %>

<br>
