<section class="section">
  <div class="columns is-centered">
    <div class="column is-half has-text-centered">
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              <strong>Elastic search</strong> for products
            </p>
          </div>
          <%= form_with url: shops_path, method: :get do |form| %>
          <div class="level-item">
            <div class="field has-addons">
              <div class="control">
                <%= form.text_field :query, class: 'input' %>
              </div>
              <div class="control">
                <%= form.submit 'Search', class: 'button is-link is-rounded is-outlined' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </nav>
    </div>

  </div>
  <div class="columns is-centered">
    <div class="column is-four-fifths">
    <h1 class="title">Products</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Unit price</th>
            <th>Released on</th>
            <th colspan="1"></th>
            <th>Quantity</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.title %></td>
              <td><%= product.unit_price %></td>
              <td><%= product.released_date %></td>
              <td><%= link_to 'Show', shop_path(product), class: 'button is-link is-small is-inverted is-rounded' %></td>
              <td>
                <%= form_with model: @order_item, id: 'new_item_form', url: order_items_path, local: false do |form| %>
                <%= form.hidden_field :product_id, value: product.id %>
                <%= form.number_field :quantity %>
                <%= form.submit "Add to Cart", class: 'button is-small is-primary is-rounded' %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id="card-link" class="subtitle"><%= render 'order_items/card_link' %></div>
      <%= paginate @products %>
  </div>
</section>